<div>
    <div id="myDIV" class="header">
      <h2>My To Do List</h2>

        <input [(ngModel)] = 'name' type="text" #newItem id="myInput" placeholder="Title...">
        
        <select class="Dropdown" [(ngModel)]="Urgency" #priority>
			<option value="Urgent" style="color:red">Urgent</option>
			<option value="Mediocre" style="color:Blue">Mediocre</option>
			<option value="Can be delayed" style="color:Green">Can be delayed</option>
		</select>
       
      <button class="addBtn" (click) = "addItem(newItem.value,priority.value)" >Add</button>
        
    </div>


      <ul id="myUL"><li *ngFor="let item of listItems">{{item}}</li></ul>

</div>